[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vitoy/Desktop/steam.desktop]
row=6
col=0

[Local Disk]
row=3
col=0

[08f7276c-ddfe-4515-81cd-02c5727bbe3b]
row=0
col=0

[500GB-HDD]
row=1
col=0

[GAMES]
row=2
col=0

[/]
row=4
col=0

[/home/vitoy]
row=5
col=0

